<div class="jumbotron">
    <h1 class="text-center">Projects</h1>
</div>
<div class="row">
    <div *ngFor="let project of projects; index as projectId" class="col-4 p-2 mb-3">
        <div class="card text-white bg-warning mb-0">
            <div class="card-header">{{ project.status }}</div>
        </div>
        <div class="card">

            <img src="{{ project.img }}" class="card-img-top" alt="{{ project.alias }}">
            <div class="card-img-overlay mt-1">
                <h5 class="text-center text-light">{{ project.alias }}</h5>
            </div>
            <div class="card-body">
                <h5 class="card-title"><a [title]="project.name + ' details'">{{ project.name }}</a></h5>
                <p class="card-text">{{ project.description }}</p>
                <a class="btn btn-primary text-white">Enter</a>
            </div>
        </div>
    </div>
</div>