<div class="card-header">
    <div class="text-center">
        <i class="material-icons md-96">{{ skillproject.icon }}</i><br>
        <p>{{ skillproject.category }}</p>
    </div>
</div>
<div class="card">
    <div class="card-body">
        <h5 class="card-title">{{ skillproject.name }}</h5>
        <p class="card-text">{{ skillproject.category }}</p>
        <p class="card-text">{{ skillproject.descr }}</p>
        <p class="card-text">{{ skillproject.software }}</p>
        <a class="btn btn-primary text-white">Enter</a>
    </div>
</div>