<div *ngFor="let sproject of skillprojects; index as skillprojectId">
    <div *ngIf="sproject.category == category">
        <div class="card-header">
            <div class="text-center">
                <i *ngIf="sproject.icon" class="material-icons md-96">{{ sproject.icon }}</i><br>
                <i *ngIf="!sproject.icon" class="material-icons md-96">movie</i><br>

                <p style="color: red">{{ category }}</p>
            </div>
        </div>
        <div class="card">
            <div class="card-body">
                <h5 class="card-title">{{ sproject.name }}</h5>
                <p class="card-text">{{ sproject.category }}</p>
                <p class="card-text">{{ sproject.descr }}</p>
                <p class="card-text">{{ sproject.software }}</p>
                <a class="btn btn-primary text-white">Enter</a>
            </div>
        </div>
    </div>
</div>
<div *ngFor="let project of projects; index as projectId">
    <div *ngIf="project.category == category">
        <div class="card-header">
            <div class="text-center">
                <i *ngIf="project.icon" class="material-icons md-96">{{ project.icon }}</i><br>
                <i *ngIf="!project.icon" class="material-icons md-96">movie</i><br>

                <p style="color: red">{{ category }}</p>
            </div>
        </div>
        <div class="card">
            <div class="card-body">
                <h5 class="card-title">{{ project.name }}</h5>
                <p class="card-text">{{ project.category }}</p>
                <p class="card-text">{{ project.descr }}</p>
                <a class="btn btn-primary text-white">Enter</a>
            </div>
        </div>
    </div>
</div>