<nav class="navbar navbar-expand-lg navbar-light bg-light  px-5 py-3">
  <a class="navbar-brand" href="#">
    <img src="./assets/img/myAvatar.png" width="30" height="30" class="d-inline-block align-top" alt=""> Bruno Boto
  </a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
    aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">

    </ul>
    <ul class="navbar-nav mr-auto pr-5 font-weight-bold">
      <li class="nav-item active">
        <a class="nav-link" href="#projects">Projects <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">CV</a>
      </li>
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown"
          aria-haspopup="true" aria-expanded="false">
          Contact
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <a class="dropdown-item" href="#">Contact me</a>
          <div class="dropdown-divider"></div>
          <a class="dropdown-item" href="#">LinkedIn</a>
        </div>
      </li>
    </ul>

  </div>
</nav>